<h3>New Password</h3><br>

<div class="form-restyle new-password-form-container">
  <div class="row">
    <form [formGroup]="newPasswordForm" novalidate (ngSubmit)="submitForm(newPasswordForm.value)" class="form-horizontal new-password-form">
      <div class="form-data-container">
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <div class="user-input">
            <input [formControl]="newPasswordForm.controls['password']" type="password" id="password" class="form-control" #password
                   (input)="passwordStrengthCalculator($event, newPasswordForm.controls['password'].value); resetConfirmPassword(newPasswordForm.controls['password'].value, newPasswordForm.controls['confirmPassword'])" required placeholder="Password">
            <div class="text-danger" style="height:30px;">
            <span *ngIf="!newPasswordForm.controls['password'].pristine
                  && newPasswordForm.controls['password'].hasError('missingUpperCase')
                  && newPasswordForm.controls['password'].value != null">Requirement: at least one uppercase character</span>
              <span *ngIf="!newPasswordForm.controls['password'].pristine
                  && newPasswordForm.controls['password'].hasError('missingLowerCase')
                  &&   newPasswordForm.controls['password'].value != null">Requirement: at least one lowercase character</span>
              <span *ngIf="!newPasswordForm.controls['password'].pristine
                  && newPasswordForm.controls['password'].hasError('missingDigit')
                  && newPasswordForm.controls['password'].value != null">Insert at least one digit</span>
              <span *ngIf="!newPasswordForm.controls['password'].pristine
              && newPasswordForm.controls['password'].hasError('tooShortPassword')
              && newPasswordForm.controls['password'].value != null">Requirement: at least 6 characters</span>
            </div>
          </div>
          <div class="validation-info">
            <p style="margin-bottom:0; line-height:1">Password strength</p>
            <ul class="password-strength-histogram">
              <li>
              </li>
              <ul class="password-strength-histogram-triangle" style="position:relative">
                <li [hidden]="passwordStrength =='medium' || passwordStrength == 'strong'"></li>
                <li [hidden]="passwordStrength =='weak' || passwordStrength =='strong'"></li>
                <li [hidden]="passwordStrength =='weak' || passwordStrength =='medium'"></li>
              </ul>
              <ul class="password-strength-histogram-colored">
                <li class="bgcolor-red"></li>
                <li style="background-color:yellow"></li>
                <li class="bgcolor-green"></li>
              </ul>
            </ul>

          </div>
        </div>
        <div class="form-group">
          <label for="confirm-password" class="control-label">Retype Password</label>
          <div class="user-input">
            <input [formControl]="newPasswordForm.controls['confirmPassword']" required type="password" id="confirm-password" (input)="resetConfirmPassword(newPasswordForm.controls['password'].value, newPasswordForm.controls['confirmPassword'])" class="form-control" placeholder="Confirm password">
            <div class="text-danger" style="height:30px">
            <span *ngIf="!newPasswordForm.controls['confirmPassword'].pristine
                  && newPasswordForm.controls['confirmPassword'].value != null
                  && newPasswordForm.controls['confirmPassword'].hasError('passwordsNotMatch')">Passwords do not match</span>
            </div>
          </div>
          <div class="validation-info">
            <i class="fa fa-ban checkbox-error"
               *ngIf="!newPasswordForm.controls['confirmPassword'].pristine
             && newPasswordForm.controls['confirmPassword'].errors" aria-hidden="true" style="font-size:15px; line-height:2.2"></i>
            <i class="fa fa-check-square checkbox-ok"
               *ngIf="!newPasswordForm.controls['confirmPassword'].pristine
             && !newPasswordForm.controls['confirmPassword'].errors" aria-hidden="true" style="font-size:15px; line-height:2.2"></i>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" [disabled]="!newPasswordForm.valid" class="btn btn-primary center-text">Create Account</button>
        </div>
      </div>
    </form>
  </div>
</div>

